<p class="breadcrump">
  <%%= link_to '<%= plural_name_cap %>', <%= plural_name %>_path %> &gt;
  <%%= @<%= singular_name %>.display_name %>
</p>


<% for attribute in attributes -%><% next if attribute.name == 'permalink' %>
<p>
  <b><%= attribute.column.human_name %>:</b>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<% end -%>


<p>
  <%%= link_to '<%= singular_name_cap %> bearbeiten', edit_<%= singular_name %>_path(@<%= singular_name %>), :accesskey => 'b', :title => 'Strg+b' %> |
  <%%= link_to 'Zur Liste der <%= plural_name_cap %>', <%= plural_name %>_path %>
</p>

<div class="clear">
  Erstellt am <%%= @<%= singular_name %>.created_at %>, bearbeitet am <%%= @<%= singular_name %>.updated_at %>
</div>
