<p class="breadcrump">
  <%= plural_name_cap %>
</p>

<h1><%= plural_name_cap %></h1>
<%% if @<%= plural_name %>.size > 0 %>
<table>
  <tr>
<% for attribute in attributes -%><% next if attribute.name == 'permalink' %>
    <th><%= attribute.column.human_name %></th><% end -%>
    <th>&nbsp;</th>
    <th class="rechts">&nbsp;</th>
  </tr>


  <%%= render :partial => 'index_item', :collection => @<%= plural_name %>, :as => :<%= singular_name %> %>

</table>
<%% else %>
<p>
  <i>Es sind keine <%= plural_name_cap %> im System erfasst.</i>
</p>
<%% end %>

<br />

<%%= link_to '<%= singular_name_cap %> erstellen', new_<%= singular_name %>_path, :accesskey => 'n', :title => 'Ctrl+n' %>
